.banner {
  background-image: background2.jpg;
  padding: 120px 0px;
  background-size: cover;
  background-position: center;
}

.banner h1 {
  font-size: 70px;
  line-height: 1.3;
}

.banner h2 {
  font-size: 37px;
  font-weight: lighter;
  color: white;
}
