@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("https://fonts.googleapis.com/css?family=Lato|Signika");

body {
  background-color: #F9F5EB;
  font-family: 'Lato';
  font-size: 18px;
  margin: 0px;
}

h1, h2, h3 {
  font-family:'Signika',sans-serif;
  font-weight: bold;
}

h1 {
  color: white
}

h2 {
  color: black;
  line-height: 30px;
  
}

a {
  text-decoration: none;
}

a:hover {
  background-color: #607EAA;
  color: #F9F5EB;
}